* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: absolute;
}

#logInImg {
    width: 800px;
    background-image: url('../src/logInImg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#logInDashBoard,
#signInDashBoard,
#forgetPassword {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: shifting;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#formDiv {
    width: 500px;
}
#formDiv h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#formDiv nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#logInDashBoard #formDiv nav div {
    width: 48%;
}
#formDiv nav div {
    width: 100%;
}

#formDiv form input:not(.submitButton) {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #eee;
    padding-left: 10px;
    margin: 6px 0 15px 0;

}

#formDiv form input:not(.submitButton):focus {
    animation-name: focus;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

#formDiv form .submitButton {
    width: 100%;
    height: 35px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #dc6666;
    padding-left: 10px;
    margin: 15px 0 30px 0;
    font-weight: bold;
    color: white;
}

.submitButton:hover {
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

#forgetPassword {
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
}

#haveAccount,
#haveNoAccount {
    text-transform: capitalize;
    margin-bottom: 10px;
}

#formDiv form label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

#formDiv h1 {
    font-family: title;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: capitalize;

}

#haveAccount a,
#haveNoAccount a {
    color: blue;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
}



@keyframes focus {
    to {
        border-right: 10px solid #dc6666;
        background-color: #d1d1d19a;
    }
}

@keyframes shifting {
    from {
        opacity: 0;
        margin-left: -300px;
    }
}

@keyframes detailsShifting {
    from {
        width: 0;
        opacity: 0;
    }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #logInImg{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #logInImg{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #logInImg{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #logInImg{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #logInImg{
        display: block;
    }
}